<!DOCTYPE html>
<html class="html">

  <head>
    <meta charset="UTF-8">
    <title>Père Noël Inc.</title>
    <link class="logo" rel="icon" type="image/x-icon" href="./template/thumbnails/logo.png">
    <link rel="stylesheet" href="./template/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  
  <body>

    <header class="header">

      <div class="back-to-homepage">
        <a href="index.php?page=1">
          <img class="icon-accueil" src="./template/thumbnails/logo.png" >
          <span class="corp-name">  Père Noël Inc.  </span>
        </a>
      </div>
      <nav class="menu">
        <div>
          <a class="menu-accueil" href="index.php?page=1">Accueil</a>
        </div>
        <div>
          <a class="menu-lettres" href="index.php?page=2">Lettres Reçues </a>
        </div>
        <div>
          <a class="menu-lutins-ateliers" href="index.php?page=3">Lutins & Ateliers</a>
        </div>
        <div>
          <a class="menu-livraisons" href="index.php?page=4">Gestion des Livraisons</a>
        </div>
        <div>
          <a class="menu-cadeaux" href="index.php?page=5">Gestion des Cadeaux</a>
        </div>
        <button class="menu-button">Contact</button>
      </nav>

    </header>

    <section class="news">
      <div class="news-arrows">
        <div class="arrow left">&#10094;</div>
        <h2 class="news-title">
          Actualités
        </h2>
        <div class="news-content">

         
          </div>
        <div class="arrow right">&#10095;</div>
      </div>

      </div>
    </section>
    <p class="maine">
      <p>
        Actualités
      </p>
      <main>
        
        <p>
          Compte à rebour
        </p>
      </main>
    </p>
    

    <footer class="footer-contact">
      <text class="footer-tel">📞 04 22 52 10 10</a>
      <text class="footer-mail">✉️ lettres@perenoel.com</a>
      <text class="footer-adress"> 8 chemin de L'Avenue Glacée, 56000, Pôle Nord</a>
      <text class="footer-name">M. Santa Claus</a>
    </footer>

</body>
</html>     






