<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Livraisons</title>
  <link rel="stylesheet" href="./template/styles/pages.css">
  <link rel="stylesheet" href="./template/styles/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="back-to-homepage">
      <a href="index.php?page=1">
        <img class="icon-accueil" src="./template/thumbnails/logo.png">
        <span class="corp-name">Père Noël Inc.</span>
      </a>
    </div>
    <nav class="menu">  
      <div>
        <a href="index.php?page=1">Accueil</a>
      </div>
      <div>
        <a href="index.php?page=2">Lettres Reçues</a>
      </div>
      <div>
        <a href="index.php?page=3">Lutins & Ateliers</a>
      </div>
      <div>
        <a href="index.php?page=4">Livraisons</a>
      </div>
      <div>
        <a class="menu-cadeaux" href="index.php?page=5">Gestion des Cadeaux</a>
      </div>
      <button class="menu-button">Contact</button>
    </nav>
  </header>
  <main style="padding: 30px; color: black;">
    <h1>Suivi des Livraisons</h1>
    <button>Planifier une livraison</button>
    <table border="1" cellspacing="0" cellpadding="10">
      <thead>
        <tr><th>ID</th><th>Date</th><th>État</th><th>Lutin</th><th>Actions</th></tr>
      </thead>
      <tbody>
        <tr><td>12</td><td>24/12/2025</td><td>en cours</td><td>Turlututu</td><td><button>Détails</button></td></tr>
      </tbody>
    </table>
  </main>
</body>
</html>
